body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.container {
  width: 1440px;
  height: 1024px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  background-color: #5CC5B1;
}

.welcome-page {
  width: 1253px;
  height: 824px;
  margin-left: 94px;
  margin-top: 99px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  mix-blend-mode: normal;
  border-radius: 43px;
  background-size: 100% 100%;
  background: url("../img/container.svg");
  background-repeat: no-repeat;
}

.welcome-page__cart {
  position: absolute;
  left: 33.98%;
  right: 55.4%;
  top: 11.61%;
  bottom: 73.28%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 659px;
  color: #FFFFFF;
}

.header__name {
  margin: 0;
  position: absolute;
  left: 76px;
  top: 444px;
  font-size: 52px;
}

.header__description {
  position: absolute;
  left: 81px;
  top: 532px;
}

.login {
  position: absolute;
  left: 659px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 594px;
  height: 824px;
  border-radius: 41px;
  background: url("../img/card.svg");
}

.login__name {
  color: #000000;
  margin-bottom: 22px;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0.4727272093296051px;
  text-align: center;
}

.login__description {
  margin-bottom: 50px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3999998867511749px;
  text-align: center;
  color: #808080;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border-radius: 42.5px;
  height: 55px;
  width: 451px;
  margin-bottom: 22px;
  color: #A0A0A0;
  background: #F0F0F0;
  border: 1px solid #FFFFFF;
  text-align: center;
}

.login-form__description {
  margin-top: 31px;
  margin-bottom: 31px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5318182110786438px;
  text-align: center;
  color: #8B8B8B;
}

.login-form__icon {
  height: 25px;
  width: 31px;
  margin-left: 39px;
}

.login-form__info {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.9999998807907104px;
  margin-left: 25px;
}

.login-form__button {
  height: 55px;
  width: 449px;
  margin-top: 9px;
  border-radius: 27.5px;
  border: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.login-form__button--continue {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 1.2999999523162842px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(34.25%, #6ED4FF), color-stop(96.88%, #8FFFA3));
  background: linear-gradient(90deg, #6ED4FF 34.25%, #8FFFA3 96.88%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form__button--twitter {
  margin-bottom: 22px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: -webkit-gradient(linear, right top, left top, from(#67E4FE), color-stop(52.4%, #35ABD3));
  background: linear-gradient(270deg, #67E4FE 0%, #35ABD3 52.4%);
}

.login-form__button--facebook {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: -webkit-gradient(linear, right top, left top, color-stop(11.18%, #3FA3E8), color-stop(63.9%, #277EBB));
  background: linear-gradient(270deg, #3FA3E8 11.18%, #277EBB 63.9%);
}
/*# sourceMappingURL=main.css.map */